<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Our Community!</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    "
  >
    <table
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <tr>
        <td align="center" style="padding: 20px 0">
          <img
            src="https://yourwebsite.com/logo.png"
            alt="Company Logo"
            width="150"
          />
        </td>
      </tr>
      <tr>
        <td>
          <h1>Welcome to Our Community!</h1>
          <p>Dear , <%=name%> <%=family%></p>
          <p>
            We are excited to welcome you to our community. Thank you for
            joining us!
          </p>
          <p>Here are a few things you can do to get started:</p>
          <ul>
            <li>Explore our website and discover exciting features.</li>
            <li>Connect with other members and share your experiences.</li>
            <li>Stay updated with our latest news and events.</li>
          </ul>
          <p>
            If you have any questions or need assistance, feel free to
            <a href="mailto:support@yourwebsite.com">contact our support team</a
            >.
          </p>
          <p>Once again, welcome aboard!</p>
          <p>Best regards,</p>
          <p>The [Your Company] Team</p>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; padding-top: 20px">
          <p style="color: #999">
            You are receiving this email because you signed up for an account at
            [Your Website]. If you believe this is a mistake, please disregard
            this email.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
